<% if (entries && (entries.length > 0)) { %>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Poster</th>
            <th scope="col">Name</th>
            <th scope="col">Year</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% for(var movie of entries) {
            %>
            <tr>
                <td>
                    <img src="<%= movie.poster %>" height="200px" />
                </td>
                <th scope="row"><%= movie.name %></th>
                <td><%= movie.year %></td>
                <td>

                    <form method="POST" action="/add" >
                        <input type="hidden" name="id" value="<%= movie.id %>" />
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>

                </td>
            </tr>
        <% } %>
    </tbody>
</table>
<% } else { %>
    No movies found matching search criteria.
<% } %>
